.banner {
  /* 1. Set a background image */
  background-image: url(../../images/background.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
  height:300px;
  margin-top:-40px;
  padding-top:60px;
  padding-bottom:60px;
}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}

.banner {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, #586c5c 0%, #a9af90  50%),
    /* Then image below */
    url('images/background.jpg');
}
